export foo='bar'
export josh='bad hair'
export stinnette='legolas'
export USERID='A9U_Admin_DEV'
export PASSWORD='A9Adm00DEV'
export SERVER='a9sst001.allstate.com'
export DATABASE='A9D_Alfred_EM_DEV'
