<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id="godzirra">GODZIRRA</h1>
    <div id="dankMeme">
      <img src="http://i0.kym-cdn.com/photos/images/original/000/452/840/d73.jpg"/>
    </div>
    <form method="POST" action="/godzirras">
      <label name="New Godzilla"
      for="New Godzilla">New Godzilla</label>
      <input type="text" name="New Godzilla" value="" id="newGodzilla">
      <input type="text" name="height" id="newGodzillaHeight" value="">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
