<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css">
  </head>
  <body>
    <h1 id="godzirra">GODZIRRA</h1>
    <div id="dankMeme">
      <img src={{epic}}>
    </div>
    <form method="POST" action="/godzirras">
      <label name="New Godzilla"
      for="New Godzilla">New Godzilla</label>
      <input type="text" name="name" value="" id="newGodzilla">
      <input type="text" name="height" id="newGodzillaHeight" value="">
      <input type="submit" id="submit">
    </form>
    <p>
      {{.Blah}}
    </p>
    {{.Errors}}
    {{ErrorChecker}}
    {{sayMuch rando}}
  </body>
</html>
